@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
    /*******
     PRIMARY 
     ********/
    --pink: #ff52bf;
    --light-pink: 	#ff8fd8;
    --light-red: #ff4242;
    /*******
     NEUTRAL
     ********/
    --very-dark-cyan: 	#00252e;
    --very-pale-blue: #f5faff;

    /*******
     BRANDS
     ********/
     --facebook-blue: #4267B2;
     --instagram-orange: #F77737;
     --twitter-green: #1DA1F2;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0%;
    margin: 0%;
}
p, span, label, h6 {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
.common-text-blue {
    color: var(--very-dark-cyan);
}
h2 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: var(--very-dark-cyan);
}
h3 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    color: var(--very-dark-cyan);
    /*text-transform: capitalize; REVISAR CHAVEZ*/
}
h4 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin:0;
    padding:0;
}
button {
    border: none;
    outline: none;
    background-color: var(--pink);
    color: #f5faff;
    padding: 1rem 4rem;
    border-radius:  25px;
    text-transform: capitalize;
}

button:hover {
    background-color: var(--light-pink);
}
header {
    width: 100%;
    padding: 3rem 0;
    margin-bottom: 6rem;
}
header>div {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>div>img {
    width: 10rem;
    height: auto;
}
button.header-btn {
    height: 1.8rem;
    width: 8rem;
    border: 1px solid var(--pink);
    color: var(--pink);
    font-size: 1rem;
    border-radius: 0.9rem;
}
section#welcome {
    width: 100%;
}
section#welcome > div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section#welcome > div > h2 {
    text-align: center;
}
section#welcome > div > p {
    width: 90%;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
section#welcome > div > button {
    margin-bottom: 6rem;
    width: 16rem;
    height: 2.8rem;
    color: white;
    font-size: 1rem;
    border-radius: 1.4rem;
    background-color: var(--pink);
}
section#welcome > div > img {
    width: 80%;
    height: auto;
    margin-bottom: 8rem;
}
section#welcome > div > div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.community-area, div.messages-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
}
div.community-area > .huge-text, div.messages-area > .huge-text{
    font-size: 4rem;
    font-weight: 700;
}
div.community-area > .muted-text, div.messages-area > .muted-text{
    font-size: 1rem;
    color: gray;
}
div.community-area > .medium-icon, div.messages-area > .medium-icon{
    width: 2rem;
    height: auto;
}
/* GROW-TOGETHER */
section#grow-togheter {
    width: 100%;
}
section#grow-togheter > div.top-bg,  
section#grow-togheter > div.bottom-bg {
    width: 100%;
}
div.center-content {
    width: 100%;
    height: 400px;
    background-color: var(--very-pale-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.center-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.center-content > div > img {
    width: 16rem;
    height: auto;
}
div.center-content > div > div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.center-content > div > div > p {
    width: 70%;
    text-align: center;
}
img.top-bg-image, img.bottom-bg-image {
    width: 100%;
    height: auto;
    margin-bottom: -1rem;
}
section#grow-togheter > div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 14px;
    }
    p, span, label, h6 {
        font-size: 14px;
    }
}
@media only screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
    p, span, label, h6 {
        font-size: 16px;
    }
    header>div {
        width: 85%;
    }
    header>div>img {
        width: 20rem;
        height: auto;
    }
    button.header-btn {
        height: 3.2rem;
        width: 16rem;
        font-size: 1.4rem;
        border-radius: 1.6rem;
        border: 2px solid var(--pink);
    }
    section#welcome {
        width: 100%;
    }
    section#welcome > div {
        width: 85%;
    }
    section#welcome > div > p {
        width: 50%;
        text-align: center;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 2rem;
    }
    section#welcome > div > button {
        margin-bottom: 6rem;
        width: 20rem;
        height: 4.4rem;
        color: white;
        font-size: 20px;
        border-radius: 2.2rem;
        background-color: var(--pink);
    }
    section#welcome > div > img {
        margin-bottom: 8rem;
    }
    section#welcome > div > div {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    div.community-area > .huge-text, div.messages-area > .huge-text{
        font-size: 6rem;
        font-weight: 700;
    }
    div.community-area > .muted-text, div.messages-area > .muted-text{
        font-size: 1.4rem;
        color: gray;
    }
    div.community-area > .medium-icon, div.messages-area > .medium-icon{
        width: 3rem;
        height: auto;
    }
    /* GROW-TOGETHER */
    div.center-content {
        width: 100%;
        height: 700px;
        /* background-color: var(--very-pale-blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
    }
    div.center-content > div {
        width: 80%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    div.center-content > div > img {
        width: 50%;
        height: auto;
    }
    div.center-content > div > div {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    div.center-content > div > div > p {
        text-align: left;
    }
    img.top-bg-image, img.bottom-bg-image {
        width: 100%;
        height: auto;
        margin-bottom: -1rem;
    }
    section#grow-togheter > div {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.image img{
    width: 220px;
    height: auto;
}
#flowing-conversations,
#your-users {
    display: flex;
    flex-direction: row;
    padding: 6rem;
    justify-content: space-around;   
}

#flowing-conversations {
    margin-bottom: 6rem;
}

#your-users  {
    flex-direction: row-reverse;
    background-color: var(--very-pale-blue);
    position: relative; 
}

#your-users::before {
    content: '';
    overflow: hidden;
    position: absolute;
    top: -11rem;
    background-image: url("images/bg-section-top-desktop-1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center bottom;
    width: 100%;
    height: 12rem;     
}
#your-users::after {
    content: '';
    overflow: hidden;
    position: absolute;
    bottom: -16rem; 
    background-image: url("images/bg-section-bottom-desktop-2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center top;
    width: 100%;
    height: 12rem;
    margin-bottom: 4rem;
        
}
#your-users > .image img{
    float: right;

}
.content  p ,  .content h3 {
    text-align: justify;
    width: 22rem;  
    margin: 0 2rem;
          
}




@media only screen and (max-width: 600px) {
    #flowing-conversations,
    #your-users {   
        flex-direction: column;
        align-items: center;
    }
    
    .content  p ,  .content h3 {
        text-align: center;
    }

    
}


#ready-to-build div {
    display: block;
    margin: 14rem auto;
    text-align: center;
}

.bg-image {
	overflow: hidden; 
    background-image: url("images/bg-footer-top-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center bottom;
    width: 100%;
    height: 12rem;      
}



footer {
    color: white; 
    margin: 0;
    padding: 0;
    border: none;
      
}

.footer-info {
    display: flex;
    flex-direction: row;
    background-color: var(--very-dark-cyan);
    padding-bottom: 4rem;
}

.contact, .subscribe {
    margin-top: 6rem;
    width: 45%;
}
.contact {
    padding-left: 4rem;
}
.subscribe {
    padding-left: 1rem;

}


@media only screen and (max-width: 600px) {
    .footer-info {
        flex-direction: column-reverse;
        align-items: center;     
    }  

    .contact, .subscribe {
        padding: 0%;
    }
    
}


.footer-logo {
    background-color: #f5faff;
    width: 200px;
    height: 30px;
    border-radius: 6px;
    padding: 0;
    margin:0;
}

.p-footer {
    font-size: 0.6rem;
    padding: 0;
    margin-top: 2rem;
    max-width: 20rem;   
}

.footer-info > div > p img {
    width: 14px;
    margin-right: 0.6rem;
}

input {
    margin-top: 2.6rem;
    border: none;
    border-radius: 6px;
    height: 2rem;
    width: 45%;
}
.btn-footer {
    border-radius: 6px;
    padding: 0.6rem 1rem;
    margin-left: 1.2rem;
}

@media only screen and (max-width: 600px) {
    input {
        width: 100%;
    }
    .btn-footer {  
        float: right;
        margin-top: 1rem;
    }    
}

.fa-brands {
    font-size: 2rem;
    margin-top: 2.6rem;
    margin-right: 0.4rem;
}

.fa-facebook-square:hover {
    color: var(--facebook-blue);
}
.fa-instagram:hover {
    color: var(--instagram-orange);
}

.fa-twitter-square:hover {
    color: var(--twitter-green);
}
