:root {
    /*******
     PRIMARY 
     ********/
    --pink: #ff52bf;
    --light-pink: 	#ff8fd8;
    --light-red: #ff4242;

    /*******
     NEUTRAL
     ********/

     --very-dark-cyan: 	#00252e;
     --very-pale-blue: #f5faff;

}